/* ====== DARK MODE SUPPORT ====== */
body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

body.dark-mode a {
  color: #bb86fc;
}
body.dark-mode .btn-color-2{
  background-color: #20b320 !important;
  border:  1px solid #20b320 !important;
}
body.dark-mode .nav-links >li >a{
  color:#9ff79f !important;
}
body.dark-mode .nav-links li a,
body.dark-mode .logo,
body.dark-mode .experience-sub-title,
body.dark-mode .section__text__p2,
body.dark-mode .title,
body.dark-mode .information,
body.dark-mode .btn-color-1 {
  color: #ffffff;
}
body.dark-mode .btn-color-1{
  background-color: #9ff79f;
  
}

body.dark-mode .section__text__p1{
   color: #636563;
}


body.dark-mode .btn {
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
}

body.dark-mode .btn:hover {
  background-color: #444;
}

body.dark-mode .github_icon{
  display: none;
  
}
body.dark-mode .github_dark_icon{
  display: flex;
  height: 3rem;
}
body.dark-mode .experience_dark_icon{
  display: flex;
  height: 3rem;
  width: 3rem;
  /* margin-left: 2rem; */
}
body.dark-mode .experience_icon{
  display: none;
}

body.dark-mode .linkedin{
  display: none;
}

body.dark-mode .linkedin_dark{
  display: flex;
  height: 3rem;
}
body.dark-mode .mail{
  color: white;
}
body.dark-mode .linkedin_string{
  color: white;
}
body.dark-mode .details-container >p{
  color: rgb(202, 202, 202);
}
body.dark-mode .details-container,
body.dark-mode .color-container {
  background-color: #1e1e1e;
  border: 1px solid #444;
}

body.dark-mode footer {
  background-color: #181818;
}

body.dark-mode #hamburger-nav,
body.dark-mode #desktop-nav {
  background-color: #1c1c1c;
}
